.wrapper {
    padding: 32px 24px 32px;
}

.wrapper-user-info {
    display: flex;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
}

.container-info {
    display: flex;
    flex: 1;
    cursor: pointer;
}

.info-detail {
    margin-left: 20px;
}

.nickname {
    font-size: 3.2rem;
}

.check {
    font-size: 2rem;
    color: #20d5ec;
}

.name {
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.follow-btn {
    width: 200px;
}

.unfollow-btn {
    display: flex;
}

.message {
    width: 156px;
    margin-right: 8px;
}

.unfollow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.count-info {
    display: flex;
    margin-top: 16px;
}

.followers,
.likes {
    margin-left: 20px;
}
.user-bio {
    font-size: 1.6rem;
    text-align: left;
    line-height: 2.1;
    font-family: FontRegular;
    font-weight: 100;
}

.count-title {
    color: rgba(22, 24, 35, 0.75);
    font-family: FontRegular;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
    display: inline-block;
}

.actions {
    padding-left: 20%;
}

.share-btn {
    background-color: transparent;
    cursor: pointer;
}
.actions-btn {
    background-color: transparent;
    padding-left: 10px;
    cursor: pointer;
}

.wrapper-interaction {
    position: relative;
}

.menu-interaction {
    display: flex;
}

.menu-interaction::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    transform: scaleY(50%);
}

.videos-tab,
.liked-tabs {
    display: flex;
    align-items: center;
    font-family: Semibold;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    height: 44px;
    padding: 0 32px;
    color: rgb(115, 116, 123);
    cursor: pointer;
}

.liked-span {
    margin-left: 6px;
}

.line-tab {
    position: absolute;
    height: 2px;
    background: rgba(22, 24, 35, 1);
    width: 122px;
    bottom: 0;
}

.videos-tab:hover ~ .line-tab {
    transform: translateX(0);
    transition: transform 0.3s;
}

.liked-tabs:hover ~ .line-tab {
    transform: translateX(100%);
    transition: transform 0.3s;
}

.menu-videos {
    display: grid;
    gap: 20px 0px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    margin-top: 15px;
}

.video {
    display: flex;
    flex-direction: column;
}

.video-title {
    margin-top: 4px;
    color: rgb(22, 24, 35);
    transition: color 250ms ease 0s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.video-show {
    width: 220px;
    height: 275px;
    border-radius: 5px;
}
