.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body {
    margin-top: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.follow-btn {
    padding: 6px 16px;
}

.nickname {
    font-size: 1.6rem;
}

.check {
    font-size: 1.4rem;
    color: #20d5fc;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.7490196078);
}

.analytics {
    margin-top: 10px;
    font-size: 1.6rem;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
    font-family: 'DisplayFontRegular';
}
