.wrapper {
    width: 356px;
    padding: 20px 0px 26px 8px;
    margin-left: -18px;
}

.subscribe-wrapper {
    border-top: 1px solid #e3e3e4;
    margin-bottom: 20px;
}

.subscribe {
    padding: 20px 0;
    font-family: 'DisplayFontRegular';
    color: rgba(22, 24, 35, 0.5);
}
